<div class="row">
	<div class="col-xs-12">
		<%= simple_form_for([:admin, question, option], remote: true, format: :js, wrapper: :admin_form,  html: { multipart: true }) do |f| %>
			<%= f.input :tab, required: true, collection: question.valid_tabs, prompt: "选项标识" %>
	
			<%= f.input :content, required: true, placeholder: "选项内容" %>

			<% if params[:action] == 'new' || params[:action] == 'create' %>
				<%= f.submit "添加", data: {disable_with: "正在添加..."}, class: "btn btn-primary btn-block" %>
			<% else %>
				<%= f.submit "更新", data: {disable_with: "正在更新..."}, class: "btn btn-primary btn-block" %>
			<% end %>
    <% end %>
	</div>
</div>
