<div class="foot-tab col-xs-12 text-center">
  <div class="row">
    <div class="col-xs-4">
      <%= link_to task_applies_path do %>
        <%= image_tag("tab1.png", width: 24) %>
        <p>我的任务</p>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to official_activities_path do %>
        <%= image_tag("tab2.png", width: 24) %>
        <p>官方活动</p>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to else_activities_path do %>
        <%= image_tag("tab3.png", width: 24) %>
        <p>其他活动</p>
      <% end %>
    </div>
  </div>
</div>