<div class="row">
	<div class="col-md-12">
		<%= simple_form_for([:admin, permission], remote: true, format: :js) do |f| %>
			<% if permission.boss %>
				<%= f.input :release, placeholder: "发包数量" %>
			<% else %>
				<%= f.input :receive_per_month, placeholder: "接包数量/月" %>
				<%= f.input :meanwhile, placeholder: "同时接包数量" %>
			<% end %>
			<%= f.submit "更新", data: {disable_with: "正在更新..."}, class: "btn btn-primary btn-block" %>
		<% end %>
	</div>
</div>