<%#= simple_form_for (@task, url: (is_edit_or_update? ? task_path(@task,user_id: params[:user_id]) : tasks_path(@task, user_id: params[:user_id])) do |f| %>
<%= simple_form_for @task, wrapper: :task_form do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <div class="form-text">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="col-xs-1">
        <span><%=image_tag("tasknew_03.png",width:"24", class: 'iconnew')%></span>
      </div>
      <div class="col-xs-11">
        <%= f.text_field :name, class: 'form-control form-input', placeholder: '任务包名称' %>
        <%#= f.input :user_id, value:'current_user', class: 'form-control hide' %>
      </div>
    </div>

    <!-- <div class="label-text">
      <input type="text" id="txt_date" class="label-date" placeholder="生日"/>
    </div> -->

    <!-- <hr class="line">
    <div class="form-text">
      <div class="col-xs-1">
        <span><%=image_tag("tasknew_09.png",width:"24", class: 'iconnew')%></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :grades, placeholder: '任务包名称', collection: Task.grades, prompt: "任务包类型"%>
        <%#= f.text_field :name, class: 'form-control form-input', placeholder: '任务包名称' %>
      </div>
    </div> -->

    <hr class="line">
    <div class="form-text">
      <div class="col-xs-1">
        <span><%=image_tag("tasknew_09.png",width:"24", class: 'iconnew')%></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :grade, placeholder: '任务包名称', collection: Task.grades, prompt: "任务包类型"%>
        <%#= f.text_field :name, class: 'form-control form-input', placeholder: '任务包名称' %>
      </div>
    </div>

    <hr class="line">
    <div class="form-text">
      <div class="col-xs-1">
        <span><%=image_tag("tasknew_12.png",width:"24", class: 'iconnew')%></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :place, placeholder: '工作地点', collection: Task.places, prompt: "工作地点"%>
      </div>
    </div>

    <hr class="line">
    <div class="col-xs-12 tag-show">
      <span><%=image_tag("tasknew_14.png",width:"20", class: 'iconnew')%></span>
      <span>标签</span><span>标签</span><span>标签</span>
    </div>
    <div class="form-input-group input-group">
      <%= f.input :tab, class: 'form-control form-input', placeholder: '输入标签' %>
      <span class="input-group-btn ">
        <button class="btn btn-primary btn-task" type="button">添加</button>
      </span>
    </div>
    <hr class="line">
    
      <div class="col-xs-4">
        形象力要求
      </div>
      <div class="col-xs-4 request">
        <%= f.input :figure, placeholder: '知识要求', collection: 1..300, prompt: "知识要求"%>
      </div>
      <div class="col-xs-4 request">
        <%= f.input :p_figure, placeholder: '经验要求', collection: 1..300, prompt: "经验要求"%>
      </div>

      <div class="col-xs-4">
        沟通力要求
      </div>
      <div class="col-xs-4 request">
        <%= f.input :communicate, placeholder: '知识要求', collection: 1..300, prompt: "知识要求"%>
      </div>
      <div class="col-xs-4 request">
        <%= f.input :p_communicate, placeholder: '经验要求', collection: 1..300, prompt: "经验要求"%>
      </div>

      <div class="col-xs-4">
        控制力要求
      </div>
      <div class="col-xs-4 request">
        <%= f.input :control, placeholder: '知识要求', collection: 1..300, prompt: "知识要求"%>
      </div>
      <div class="col-xs-4 request">
        <%= f.input :p_control, placeholder: '经验要求', collection: 1..300, prompt: "经验要求"%>
      </div>

      <div class="col-xs-4">
        协作力要求
      </div>
      <div class="col-xs-4 request">
        <%= f.input :coordination, placeholder: '知识要求', collection: 1..300, prompt: "知识要求"%>
      </div>
      <div class="col-xs-4 request">
        <%= f.input :p_coordination, placeholder: '经验要求', collection: 1..300, prompt: "经验要求"%>
      </div>

      <div class="col-xs-4">
        决策力要求
      </div>
      <div class="col-xs-4 request">
        <%= f.input :decision, placeholder: '知识要求', collection: 1..300, prompt: "知识要求"%>
      </div>
      <div class="col-xs-4 request">
        <%= f.input :p_decision, placeholder: '经验要求', collection: 1..300, prompt: "经验要求"%>
      </div>
    
    <hr class="line">
      <div class="form-text">
        <div class="col-xs-1">
          <span><%=image_tag("tasknew_17.png",width:"24", class: 'iconnew')%></span>
          <%#= image_tag("tab1.png", width: 24) %>
        </div>
        <div class="col-xs-11 task-text">
          <%= f.text_field :extra, class: 'form-control form-input', placeholder: '额外报酬（可不填）' %>
        </div>
      </div>
    <hr class="line">
      <div class="form-text">
        <div class="col-xs-1">
          <span><%=image_tag("tasknew_17.png",width:"24", class: 'iconnew')%></span>
          <%#= image_tag("tab1.png", width: 24) %>
        </div>
        <div class="col-xs-11 task-text">
          <%= f.text_field :describe, class: 'form-control form-input', placeholder: '任务描述' %>
          <span><%=image_tag("tasknew_21.png",width:"24", class: 'iconnew triangle')%></span>
        </div>
      </div>
    <hr class="line">
      <div class="form-text">
        <div class="col-xs-1">
          <span><%=image_tag("tasknew_24.png",width:"28", class: 'iconnew')%></span>
          <%#= image_tag("tab1.png", width: 24) %>
        </div>
        <div class="col-xs-11 task-text">
          <%= f.text_field :goal, class: 'form-control form-input', placeholder: '任务目标' %>
          <span><%=image_tag("tasknew_21.png",width:"24", class: 'iconnew triangle')%></span>
        </div>
      </div>
    <hr class="line">
  </div>
  
  <div class="form-group">
    <div class="col-xs-6 text-center">
      <button class="btn btn-success" type="submit">
        保存
      </button>
    </div>
    <div class="col-xs-6 text-center">
      <button class="btn btn-success" type="">
        取消
      </button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var selectDate = new MobileSelectDate();
  selectDate.init({trigger:'#txt_date', min:'2015/01/01', max:'2050/12/30'});
</script>