<div class="head text-center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 title"><%= head_title %></div>
    <div class="col-xs-2 image">
      <% if current_user.id == @task.user_id %>

        <div class="dropdown">
          <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag("head_add.png", width: 25) %>
          </a>

          <ul class="dropdown-menu dropdown-menu-right head-drop" aria-labelledby="dLabel">
            <li><a href="<%= "#" %>"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;修改内容</a></li>
            <li class="head-li"><a href="<%= task_applies_path(@task) %>"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;处理申请</a></li>
          </ul>
        </div>
      <% else %>
        <%= link_to("javascript:void(0);", title: current_user.try(:voted_up_on?, @task, vote_scope: "collect") ? "取消收藏" : "收藏", class: "vote-create-a btn btn-info btn-xs", voteable_id: @task.id, voteable_type: @task.class, style_type: "task-list", id: "taskListShowLink#{@task.id}", scope: "collect") do %>
          <%= ((current_user.try(:voted_up_on?,@task, vote_scope: "collect")) ? "取消收藏" : "收藏") %>
        <% end -%>
      <% end -%>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  vote_create_path = "<%= votes_path %>.js"
<% end %>