<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 logo_bg">
      <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4"><%= image_tag "logo.png", class: "",width:"100%" %>
        </div>
        <div class="col-xs-12"><h2 class="title">菜鸟烩</h2></div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="col-xs-12 input-a">
      <div class="field">
        <%= f.text_field :phone, autofocus: true, class: "form-control input-login", placeholder: "手机号" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class: "form-control input-login", placeholder: "密码" %>
      </div>

      <div class="actions">
        <%= f.submit "我要登录", class: "btn btn-primary btn-lg btn-block btn-login", data: { disable_with: '正在登录...' } %>
      </div>
    </div>
    <% end %>
    <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
    <% end %>
  </div>
</div>