<%= simple_form_for(current_user, url: user_path(current_user), html: { method: :patch }) do |f| %>
  <div class="row">
    <div class="col-xs-12 select-input">
      <div class="label-text">
        <%= f.input :nickname, required: true, class: 'form-control label-input', placeholder: '昵称', label: false %>
      </div>

      <div class="dropdown label-text">
        <%= f.input :gender, required: true, collection: User.genders, prompt: "性别", label: false %>
      </div>

      <div class="label-text">
        <%= f.input :birth, required: true, placeholder: '生日', label: false, wrapper_html: {class: "bgc-none lookLikeAMenulist"} %>
      </div>

      <div class="dropdown label-text">
        <%= f.input :nation, required: true, collection: User.nations, prompt: "民族", label: false %>
      </div>

      <div class='label-text city-group select-city'>
        <div class="row">
          <div class="col-xs-6">
            <%= select_tag :p, options_for_select(ChinaCity.list), prompt: '--籍贯--', onChange:'onChangeSum()', class: 'city-select required form-control col-xs-6' %>
          </div>
          <div class="col-xs-6">
            <%= select_tag :c, options_for_select([]), prompt: '--籍贯--', onChange:'onChangeSum()', class: 'city-select required form-control col-xs-6' %>
          </div>
        </div>
        <%= f.hidden_field :native, id: 'user-nation'%>
      </div>

      <div class='label-text city-group select-city'>
        <div class="row">
          <div class="col-xs-6">
            <%= select_tag :p1, options_for_select(ChinaCity.list), prompt: '--现居地--', onChange:'onChangeSum()', class: 'city-select required form-control' %>
          </div>
          <div class="col-xs-6">
            <%= select_tag :c1, options_for_select([]), prompt: '--现居地--', onChange:'onChangeSum()', class: 'city-select required form-control' %>
          </div>
        </div>
        <%= f.hidden_field :present, id: 'user-present'%>
      </div>
      
      <div class="input-a">
        <%= f.submit "提交信息", class: "btn btn-blue btn-block" %>
      </div>      
    </div>
  </div>
<% end %>
<script type="text/javascript">
  var selectDate = new MobileSelectDate();
  selectDate.init({trigger:'#user_birth', min:'1950/01/01'});
  
  function onChangeSum(){
    p = $("#p  option:selected").val();
    c = $("#c  option:selected").val();
    $("#user-nation").val(p+','+c);

    p1 = $("#p1  option:selected").val();
    c1 = $("#c1  option:selected").val();
    $("#user-present").val(p1+','+c1);
  };
</script>