<div class="wrapper">
  <div class="timeline"><div class="number"><p>完成总数</p><p class="num">50</p></div></div>
  <div class="momentscontainer">
    <div class="col-xs-6 moment right">
      <div class="col-xs-4 r-img">
        <%=image_tag 'green.png',width:'100%' %>
      </div>
      <div class="col-xs-8 r-title">
        <h4 class="name">成长轨迹</h4>
        <h5 class="time">2015-12-22</h5>
      </div>
    </div>
    <div class="col-xs-6 moment left">
      <div class="col-xs-8 l-title">
        <h4 class="name">成长轨迹</h4>
        <h5 class="time">2015-12-22</h5>
      </div>
      <div class="col-xs-4 l-img">
        <%=image_tag 'blue.png',width:'100%' %>
      </div>
    </div>
    <div class="col-xs-6 moment right">
      <div class="col-xs-4 r-img">
        <%=image_tag 'yellow.png',width:'100%' %>
      </div>
      <div class="col-xs-8 r-title">
        <h4 class="name">成长轨迹</h4>
        <h5 class="time">2015-12-22</h5>
      </div>
    </div>
    <div class="col-xs-6 moment left">
      <div class="col-xs-8 l-title">
        <h4 class="name">成长轨迹</h4>
        <h5 class="time">2015-12-22</h5>
      </div>
      <div class="col-xs-4 l-img">
        <%=image_tag 'red.png',width:'100%' %>
      </div>
    </div>
    <div class="col-xs-6 moment right">
      <div class="col-xs-4 r-img">
        <%=image_tag 'green_1.png',width:'100%' %>
      </div>
      <div class="col-xs-8 r-title">
        <h4 class="name">成长轨迹</h4>
        <h5 class="time">2015-12-22</h5>
      </div>
    </div>
  </div>
</div>