<div class="powers">
	<!-- <div class="title">知识值&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span></div> -->
	<!-- Small modal -->
<div type="button" class="title" data-toggle="modal" data-target=".bs-know-modal-lg">知识值&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span></div>
	<div id="js_powers" style="height: 300px"></div>
	<% if current_user.id == params[:id].to_i %>
		<div class="text-center">
			<%= link_to "开始测试", new_test_path, class: "btn btn-white user-btn begin-test" %>
		</div>
	<% end %>
	<br>
	<div type="button" class="title" data-toggle="modal" data-target=".bs-experience-modal-lg">经验值&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span></div>
	<br>
	<%= render partial: "know_modal" %>
	<div class="clearfix">
		<div class="col-xs-12">
			<% Question::powers.keys.each do |power| %>
				<% score = current_user.scores.last.send(power) %>
				<div class="power-level">
					<div class="power"><div><%= Question::POWER[power.to_sym] %>&nbsp;</div></div>
					<div class="goal">
						<div class="progress">
						  <div class="progress-bar progress-bar-warning" 
						  		 role="progressbar" aria-valuenow="<%= score.to_i %>" aria-valuemin="0" aria-valuemax="9" style="width: <%= score.to_i * 100 / 9 %>%">
						    <span class="sr-only">complete</span>
						  </div>
						</div>
					</div>
					<div class="level"><div>&nbsp;Lv<%= score %></div></div>
				</div>
			<% end %>	
		</div>
	</div>
	<br><br>	
</div>