<div class="user-info">
	<div class="user-row top-none row">
		<div class="col-xs-12">昵称：<%= @user.nickname %></div>
	</div>
	<div class="user-row row">
		<div class="col-xs-6 pr-0">性别：<%= @user.gender %></div>
		<div class="col-xs-6 pr-0">生日：<%= @user.birth %></div>
	</div>
	<div class="user-row row">
		<div class="col-xs-6 pr-0">年龄：<%= getage(@user.birth) %></div>
		<div class="col-xs-6 pr-0">星座：<%= constellation(@user.birth) %></div>
	</div>
	<div class="user-row row">
		<div class="col-xs-6 pr-0">民族：<%= @user.nation %></div>
		<div class="col-xs-6 pr-0">籍贯：<%= truncate(User.address(@user.native),length: 7) %></div>
	</div>
	<div class="user-row row">
		<div class="col-xs-6 pr-0">现居地：<%= truncate(User.address(@user.present),length: 7) %></div>
		<div class="col-xs-6 pr-0">户口地：<%= truncate(User.address(@user.native),length: 7) %></div>
	</div>
	<div class="user-row bottom-none row">
		<div class="col-xs-6 pr-0">个人信息完善度：<%= perfection(@user).round(0) %>%</div>
		<div class="col-xs-6 pr-0">
		<% if current_user.id == @user.id %>
			<%= link_to '完善资料', user_pages_path(@user), class:"btn btn-white user-btn"  %>
		<% end -%>
		</div>
	</div>

	<div class="generate-resume1" style="margin-top: 100px;">
		<%= link_to("一键生成简历", "#", class: "btn btn-blue btn-block" ) %>
	</div>
</div>