<div class="user-info">
	<div class="user-row top-none row">
		<div class="col-xs-6 p-r-0 single-text">昵称：<%= @user.nickname %></div>
		<div class="col-xs-6 p-r-0 single-text" id="<%= "coin_#{params[:id]}"%>">鸟币：<%= @user.points(category: 'coin') %></div>
	</div>
	<div class="user-row row">
		<div class="col-xs-6 p-r-0 single-text">性别：<%= @user.gender %></div>
		<div class="col-xs-6 p-r-0 single-text">生日：<%= @user.birth %></div>
	</div>
	<div class="user-row row">
		<div class="col-xs-6 p-r-0 single-text">年龄：<%= getage(@user.birth) %></div>
		<div class="col-xs-6 p-r-0 single-text">星座：<%= constellation(@user.birth) %></div>
	</div>
	<div class="user-row row">
		<div class="col-xs-6 p-r-0 single-text">民族：<%= @user.nation %></div>
		<div class="col-xs-6 p-r-0 single-text">籍贯：<%= User.address(@user.native) %></div>
	</div>
	<div class="user-row row">
		<div class="col-xs-6 p-r-0 single-text">现居地：<%= User.address(@user.present) %></div>
		<div class="col-xs-6 p-r-0 single-text">户口地：<%= User.address(@user.native) %></div>
	</div>
	<div class="user-row bottom-none row">
		<% percent = perfection(@user) %>
		<div class="col-xs-6 p-r-0 single-text">信息完善度：<%= percent %></div>
		<div class="col-xs-6 p-r-0 single-text">
		<% if current_user.id == @user.id %>
			<%= link_to "#{percent == "100%" ? "修改资料" : "完善资料"}", resume_user_pages_path(current_user), class:"btn btn-white user-btn"  %>
		<% end -%>
		</div>
	</div>

	<% unless current_user.id != @user.id %>
		<div class="generate-resume1 text-center" style="margin-top: 50px;" id="sign_t">
			<% if @signed %>
				<button class="btn btn-blue" disabled="disabled">今日已签到,明天再来吧！</button>
			<% else %>
				<%= link_to "今日签到!", "javascript:void(0);", class: "sign-create btn btn-blue", id: 'sign_s'  %>
			<% end %>
		</div>
	<% end -%>
</div>

<%= javascript_tag do %>
  sign_create_path = "<%= user_signs_path(current_user) %>.js"
<% end %>