<%= render partial: "share/head", locals: { head_title: "个人信息" } %>

<div class="user-head clearfix">
	<div class="col-xs-3">
		<%= image_tag("logo2.png", height: 60) %>
	</div>
	<div class="col-xs-9">
		<p>
      &nbsp;&nbsp;姓名：<%= current_user.nickname %>&nbsp;&nbsp;
      <span class="club-style"><%= User::ROLE[current_user.role.to_sym] %></span>
    </p>
		<p>&nbsp;&nbsp;编号：CNH15<%= current_user.id %>
      <% unless current_user.id == @user.id %>
        <%= link_to("javascript:void(0);", title: current_user.try(:voted_up_on?, @user, vote_scope: "collect") ? "取消关注" : "关注", class: "vote-create-a btn btn-info btn-xs", voteable_id: @user.id, voteable_type: @user.class, style_type: "user-list", id: "userListShowLink#{@user.id}", scope: "collect") do %>
          <%= ((current_user.try(:voted_up_on?,@user, vote_scope: "collect")) ? "取消关注" : "关注") %>
        <% end -%>
      <% end -%>
    </p>
		<p>&nbsp;&nbsp;经验值：<%= current_user.points %>/200</p>
	</div>
</div>

<div class="user-tabs">
  <!-- Nav tabs -->
  <ul class="nav tab-ul" role="tablist">
    <li role="presentation" class="left-none"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">个人信息</a></li>
    <li role="presentation"><a href="#powers" id="powers_a" aria-controls="powers" role="tab" data-toggle="tab">五大能力</a></li>
    <li role="presentation" class="right-none active"><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">成长轨迹</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="info">
			<%= render partial: "user_info" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="powers">
			<%= render partial: "powers" %>
    </div>
    <div role="tabpanel" class="tab-pane active" id="groups">
    	<%= render partial: "groups" %>
    </div>
  </div>
</div>

<!-- 五大能力图表 -->
<script>
	$("#powers_a").click(function(e){
		e.preventDefault()
  	$(this).tab('show')
		<%= render partial: "share/powers", locals: { id: "js_powers", 
                                                  legend_data: ['我的能力'],
                                                  series_data: [
                                                    ['我的能力', current_user.power_scores],
                                                  ] } %>
	})
</script>

<%= content_for :scripts do %>
  <%= javascript_tag do %>
    vote_create_path = "<%= votes_path %>.js"
  <% end %>
  <%= javascript_include_tag "app/votes", 'data-turbolinks-track' => true  %>
<% end %>