<% @works.each do |work| %>
  <div class="resume-item clearfix">
    <div class="my-infos">公司名称<span class="pull-right"><%= work.company %></span></div>
    <hr id="divide">
    <div class="my-infos">开始任职时间<span class="pull-right"><%= work.start_time %></span></div>
    <hr id="divide">
    <div class="my-infos">结束任职时间<span class="pull-right"><%= work.end_time %></span></div>
    <hr id="divide">
    <div class="my-infos">职位名称<span class="pull-right"><%= work.position %></span></div>
    <hr id="divide">
    <div class="my-infos"><%= link_to '删除', user_work_path(@user, work), method: :delete, class: "btn btn-delete btn-sm", remote: true, format: :js %></div>
  </div>
<% end -%>
