<% content_for :title do %>
	我的活动
<% end %>
<%= render partial: "share/head", locals: { head_title: "我的主页" } %>
<div class="container">
	<div class="row pages-head">
			<div class="col-xs-offset-2">
				<div class="media">
				  <div class="media-left media-middle">
				    <%=image_tag("logo.png",width:"80")%>
				  </div>
				  <div class="media-body" id="my-body">
				    <p>姓名：<%= current_user.nickname %> &nbsp;&nbsp;<small><%= User::ROLE[@user.role.to_sym] %></small></p>
				    <p>编号：CNH15<%= current_user.id %></p>
				  </div>
				</div>
			</div>
	</div>
	<div class="row">
		<ul>
			<li>
				<%=link_to resume_user_pages_path do |i| %>
					<%=image_tag("pages_resume.png")%>我的简历<span class="pull-right mygt mygt">&gt;</span>
				<% end %>
			</li>
			<hr class="divide">
			<li>
				<%=link_to focus_user_attention_index_path(@user) do |i| %>
					<%=image_tag("pages_attention.png")%>我的关注<span class="pull-right mygt">&gt;</span>
				<% end %>
			</li>
			<hr class="divide">
			<li>
				<%=link_to subscription_user_attention_index_path(@user) do |i| %>
					<%=image_tag("pages_read.png")%>我的订阅<span class="pull-right mygt">&gt;</span>
				<% end %>
			</li>
			<hr class="divide">
			<li>
				<%=link_to feedback_user_attention_index_path(@user) do |i| %>
					<%=image_tag("pages_send.png")%>投递反馈<span class="pull-right mygt"><span class="badge"id="badge">1</span>&gt;</span>
				<% end %>
			</li>
			<hr class="divide">
			<li>
				<%=link_to interest_user_attention_index_path(@user) do |i| %>
					<%=image_tag("pages_interest.png")%>感兴趣的任务<span class="pull-right mygt"><span class="badge"id="badge">1</span>&gt;</span>
				<% end %>
			</li>
			<hr class="divide">
			<li>
				<%=link_to applies_path do |i| %>
					<%=image_tag("pages_activity.png")%>我的活动<span class="pull-right mygt"><span class="badge"id="badge">2</span>&gt;</span>
				<% end %>
			</li>
			<hr class="divide">
			<li>
				<%=link_to personal_tasks_tasks_path do %>
					<%=image_tag("pages_task.png")%>我发布的任务<span class="pull-right mygt">&gt;</span>
				<% end %>
			</li>
		</ul>
	</div>
</div>