<% content_for :title do %>
  我的简历
<% end %>
<%= render partial: "share/head", locals: { head_title: "我的简历", url: "#", show: false } %>
<!-- logo -->
<div class="container">
  <div class="row pages-head">
      <div class="col-xs-offset-2">
        <div class="media">
          <div class="media-left media-middle">
            <%=image_tag(current_user.image_url,width:"80")%>
          </div>
          <div class="media-body" id="my-body">
            <span>姓名：<%= current_user.name %></span><br>
            <span>编号：<%= user_code current_user.id %></span><br>
            <span>更新时间：<%= current_user.id %></span>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- 简历信息 -->
<div class="resume-content">
  <div class="my-infos container">
    <div class="row resume-title">
      <div class="col-xs-6">基本信息</div>
      <div class="col-xs-6 text-right">
        <%= link_to info_user_pages_path(current_user) do |i|  %>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="resume-item clearfix" id="base_resume">
    <div class="my-infos">姓名<span class="pull-right"><%= @user.name %></span></div>
    <hr id="divide"> 
    <div class="my-infos">昵称<span class="pull-right"><%= @user.nickname %></span></div>
    <hr id="divide">
    <div class="my-infos">性别<span class="pull-right"><%= @user.gender %></span></div>
    <hr id="divide">
    <div class="my-infos">年龄<span class="pull-right"><%= getage(@user.birth) %></span></div>
    <hr id="divide">
    <div class="my-infos">生日<span class="pull-right"><%= @user.birth %></span></div>
    <hr id="divide">
    <div class="my-infos">邮箱<span class="pull-right"><%= @user.email %></span></div>
    <hr id="divide"> 
    <div class="my-infos">星座<span class="pull-right"><%= constellation(@user.birth) %></span></div>
    <hr id="divide">
    <div class="my-infos">民族<span class="pull-right"><%= @user.nation %></span></div>
    <hr id="divide">
    <div class="my-infos">籍贯<span class="pull-right"><%= truncate(User.address(@user.native),length: 7) %></span></div>
    <hr id="divide">
    <div class="my-infos">现居地<span class="pull-right"><%= truncate(User.address(@user.present),length: 7) %></span></div>
    <hr id="divide">
    <div class="my-infos">户口地<span class="pull-right"><%= truncate(User.address(@user.native),length: 7) %></span></div>
  </div>

  <div class="my-infos container">
    <div class="row resume-title">
      <div class="col-xs-6">教育信息</div>
      <div class="col-xs-6 text-right">
        <%= link_to new_user_education_path(@user), remote: true, format: :js do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </div>
  <div id="education">
    <%= render partial: "education" %>
  </div>

  <div class="my-infos container">
    <div class="row resume-title">
      <div class="col-xs-6">工作信息</div>
      <div class="col-xs-6 text-right">
        <%= link_to new_user_work_path(@user), remote: true, format: :js do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </div>
  <div id="work">
    <%= render partial: "work" %>
  </div>

  <div class="my-infos container">
    <div class="row resume-title">
      <div class="col-xs-6">实习信息</div>
      <div class="col-xs-6 text-right">
        <%= link_to new_user_internship_path(@user), remote: true, format: :js do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </div>
  <div id="internship">
    <%= render partial: "internship" %>
  </div>

</div>
<!-- 底部按钮 -->
<!-- <div class="my-btn text-center">
  <button type="button" id="mybtn" class="btn btn-primary">一键生成简历</button>
</div> -->