<div class="row">
	<div class="col-xs-12">
		<%= simple_form_for([:admin, question], remote: true, format: :js, wrapper: :admin_form) do |f| %>
			<%= f.input :problem, placeholder: "试题题目", input_html: {rows: 6} %>
			<%= f.input :power, collection: Question::POWER.invert, prompt: "选择能力" %>
			<%= f.input :level, collection: Question::LEVEL.invert, prompt: "选择等级" %>
			<%= f.input :genre, collection: Question::GENRE.invert, prompt: "选择类型" %>
			<%= f.input :answer, collection: answers, prompt: "选择标准答案"%>
			
			<% if kind == 'word' %>
				<%= f.hidden_field :kind, value: 'word' %>
			<% else %>
				<%= f.hidden_field :kind, value: 'image' %>
			<% end %>
			
			<% if params[:action] == 'new' || params[:action] == 'create' %>
				<%= f.submit "添加", data: {disable_with: "正在添加..."}, class: "btn btn-primary btn-block" %>
			<% else %>
				<%= f.submit "更新", data: {disable_with: "正在更新..."}, class: "btn btn-primary btn-block" %>
			<% end %>
    <% end %>
	</div>
</div>