<div class="lg-box animated">
  <div class="row">
    <% if params[:kind] == 'image' %>
      <!-- 添加试题表单 -->
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>添加试题</h5>
            <div class="ibox-tools">
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </div>
          </div>
          <div class="ibox-content image_form">
            <%= render partial: "image_form", locals: {question: @question} %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- 试题列表 -->
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= Question::KIND[params[:kind].to_sym] %>列表</h5>
          <div class="pull-right">
            <div class="ibox-tools">
              <!-- <a class="collapse-link"><i class="fa fa-chevron-up"></i></a> -->
              <!-- 清空试题 -->
              <%= link_to clear_admin_questions_path(kind: params[:kind]), method: :delete, data: { confirm: "确定删除？" } do %>
                <i class="fa fa-trash-o"></i>
              <% end %>

              <% if current_page?(kind: 'word') %>
                <!-- 手动添加文字题 -->
                <%= link_to new_admin_question_path(kind: 'word'), remote: true, format: :js do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <!-- 从Excel导入试题 -->
                <%= link_to import_admin_questions_path, remote: true, format: :js do %>
                  <i class="fa fa-file-excel-o"></i>
                <% end %>
              <% end %>  
            </div>
          </div>
        </div>
        <div class="ibox-content" id="tests_index">
          <% if params[:kind] == 'word' %>
            <%= render partial: "word_index", locals: {questions: @questions} %>
          <% else %>
            <%= render partial: "image_index", locals: {questions: @questions} %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="testsModal"></div>