<% content_for :title do %>
  我的任务
<% end %>

<%= render partial: "share/head", locals: { head_title: "我的任务", url: tasks_path, show: true } %>

<div class="tasks-content">
  <% current_user.applies.each do |apply| %>
  	<% task = apply.task %>
    <div class="tasks-item ">
      <h4><%= task.name %></h4>
      <p><%=image_tag("course_text.png",width:"20")%> 任务概述 ：<%= task.describe %></p>
      <p>
      	<%=image_tag("course_time.png",width:"20")%> 
      	执行时间：<%= apply.created_at.strftime("%Y年%m月%d日")%>
      	<%= link_to "查看详情>>", task_path(task), class: "btn btn-default btn-sm btn-detail pull-right" %>
      </p>
    </div>
  <% end %>
</div>
