<% index = 1 %>
<!-- start 答案选项 -->
<% question.options.shuffle.each_slice(2) do |two_option| %>
	<div class="row">
		<% two_option.each do |option| %>
			<div class="col-xs-6 <%= index.odd? ? 'p-r-0' : 'p-l-0' %>">
				<form class="form-group">
					<%= radio_button_tag("question#{question.id}", "#{option.tab}") %>&nbsp;
					<label for="question<%= question.id %>_<%= option.tab %>">
						<span class="pull-left"><%= "#{answer(index)}." %></span>&nbsp;
						<span class="pull-left"><%= image_tag option.try(:image).try(:avatar).try(:url, :option) %></span>
					</label>
				</form>
			</div>
			<% index += 1 %>
		<% end %>
	</div>
<% end %> <!-- end 答案选项 -->
