<!-- 顶部信息条 -->
<div class="head text-center test-head">
	<span class="pull-left"><%= Question::POWER[question.power.to_sym] %></span>
	<span><%= Question::LEVEL[question.level.to_sym] %></span>
	<span class="pull-right"><%= session[:num] %>/<%= session[:questions].length %></span>
</div>

<div class="test-question">
	<!-- 问题 -->
	<div class="problem">
		<p class="text-justify"><%= question.problem %></p>
	</div>
	<!-- 答案 -->
	<div class="answer">
		<div class="sr-only"><%= question.answer %></div>
		<% [:a, :b, :c, :d, :e, :f].each_with_index do |option, index| %>
			<% answer = question.option.send(option) %>
			<% unless answer.nil? %>
				<p>
					<%= radio_button_tag("question", "#{index + 1}") %>&nbsp;
					<%= option.to_s.upcase %>. <%= answer %>
				</p>
			<% end %>
		<% end %>
	</div>
</div>	