<% content_for :title do %>
  测试结果
<% end %>

<div class="explain-head">
	<%= image_tag("logo2.png", height: 70) %>
</div>

<!-- params[:power]存在说明已完成全部测试 -->
<% if params[:status].present? %>
	<div class="container">
		<div class="row">
			<div class="col-xs-5 p-0 explain-boy">
				<%= image_tag "boy.png" %>
			</div>
			<div class="col-xs-7 text-center">
				<h3 class="explain-title text-center">恭喜您完成测试!</h3>
				<p class="explain-content">为了保证用户的利益，所有在此平台接发包的用户请完善个人的基本信息！</p>
				<p class="explain-tips"></p>
				<% if current_user.nickname.present? && current_user.gender? && current_user.birth.present? %>
					<%= link_to("返回个人信息页", user_path(current_user), class: "btn btn-blue") %>
				<% else %>
					<%= link_to("完善个人基本信息", personal_user_path(current_user), class: "btn btn-blue") %>
				<% end %>
			</div>
		</div>
	</div>
<!-- 不存在说明是阶段测试 -->
<% else %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12">
					<h3 class="explain-title text-center">恭喜您完成《<%= power(session[:power]) %>-<%= level(session[:level]) %>》测试！</h3>
					<p class="explain-content">
						您的等级是 
						<span class="score"><%= "#{params[:score]} 阶" %></span>
						<%= "或以上" if params[:upgrade] == 1 %>，
						是否需要保存进度休息一下，还是继续答题？
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="test-btn">
		<%= link_to("继续答题", next_tests_path(score: params[:score], upgrade: params[:upgrade]), class: "btn btn-blue") %>
		<%= link_to("保存退出", test_path(id: 1, score: params[:score], upgrade: params[:upgrade]), method: :put, class: "btn btn-white pull-right") %>
	</div>
<% end %>